<%= form_tag do%>
	<%= text_field_tag :movie%>
	<%=submit_tag 'Rechercher un film'%>
<%end%>


<%if @movies == nil%>

	<h1>Veuillez saisir le nom du film recherché</h1>

<% else %>

	
	
	<%@movies.each do |movie|%>
		<h2>Titre:</h2><%=movie.values[movie.keys.index {|a| a=='title'}]%>
		<h2>Affiche:</h2><img src="https://image.tmdb.org/t/p/w640/<%= movie.values[movie.keys.index {|a| a=='poster_path'}] %>">
		<h2>Résumé:</h2><%=movie.values[movie.keys.index {|a| a=='overview'}]%>
		<h2>Date de sortie:</h2><%=movie.values[movie.keys.index {|a| a=='release_date'}]%>
	<%end%>

<%end%>

